body {
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1008px;
  padding: 24px 15px;
  margin: 0 auto;
}

.gallery-item {
  list-style-type: none;
  max-width: 320px;
  max-height: 200px;
}

.gallery-item:hover {
  transform: scale(1.04);
}

.img {
  display: block;
  max-width: 100%;
}
